body {
  font-family: "Ubuntu";
}

h1 {
  font-family: 'Montserrat';
  font-size: 3.5rem;
  line-height: 1.5;
}

h3 {
  font-family: 'Montserrat';
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 30px;
}

h2 {
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
}

p {
  font-size: 1rem;
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 15% 10%;
  color: white;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 20px;
}

.nav-link {
  font-size: 1.2rem;
}

.download-btn {
  margin: 5% 3% 5% 0;
}

.title-img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

.icon {
  padding-top: 50px;
  color: #ef8172;
}

.icon:hover {
  color: #ff4c68;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 20%;
}

.card {
  margin: 5%;
}

.pricing-col {
  padding: 3% 2%;
}

.footer-btn {
  margin: 3% 2% 5% 0;
}

.icon-brand {
  padding: 3% 1%;
  font-size: 1.25rem;
}

#title {
  color: white;
  background-color: #ff4c68;
}

#features {
  position: relative;
  background-color: #fff;
  padding: 7% 15%;
}

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
  text-align: center;
}

#pricing {
  padding: 100px;
  text-align: center;
}

#cta {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 70px;
  background-color: #ff4c68;
  color: #fff;
}

#cta-text {
  font-size: 4rem;
  padding: 3% 15%;
  text-align: center;
}

#footer {
  padding: 3% 15%;
  text-align: center;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-img {
    position: static;
    transform: rotate(0deg);
  }
}
